* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

:root {
    --cinza-escuro: #1E1E1E;
    --vermelho: #c91c1c;
    --branco: #ffff;
    --cinza-claro: #2A2A2A;
    --cinza-transparente: #2a2a2a9f;

    --fonte-permanent: "Permanent Marker", cursive;
}


body::before {
     content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('./assets/barbearia.jpg');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      filter: blur(2px) brightness(0.7); /* Deixa com aspecto de desfocamento */
      z-index: -1; /* Fica atrás do conteúdo */

}

.container-supremo {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: .5em 4em;
    background-color: var(--cinza-transparente);
}


.header-titulo {
    color: var(--vermelho);
    font-family: var(--fonte-permanent);
    font-size: 2.5em;
}

.header-nav {
    display: flex;
    gap: 2em;
    align-items: center;
}

.header-nav div {
    display: flex;
    gap: 1em;
}

a {
    color: var(--branco);
    text-decoration: none;
}

a:hover {
    transition: all .4s ease;
    color: var(--vermelho);
    text-decoration: underline;
}


i {
    color: var(--branco);
    transition: all .5s ease;
    cursor: pointer;
}

i:hover {
    transform: translateY(-5px);
}

#inicio {
    background-color: var(--cinza-escuro);
    margin: 0 10%;
    padding: 2em;
    color: var(--branco);
    display: flex;
    gap: 2em;
    font-size: 30px;
    border-radius: 10px;
    text-align: justify;
}

/* texto e botão agendar */
#inicio > div {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
}

#inicio img {
    border-radius: 10px;
}

#inicio p {
    text-indent: 50px;
}

#inicio strong {
    color: var(--vermelho);
}

.inicio-btn-agende {
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color: var(--vermelho);
    color: var(--branco);
    font-size: .6em;
    
} 

strong:first-of-type {
    font-family: "Permanent Marker", cursive;
}

footer {
    background-color: var(--cinza-transparente);
    color: var(--branco);
    padding: 1em;
    text-align: center;
}

footer a {
    font-size: small;
    margin-top: 1em;
}

footer strong {
    color: var(--vermelho);
}